/* <==================== ID's ====================> */
#save {
	margin-left: 1.65rem;
}

#boxer-list {
	font-size: 3rem;
}


#save-boxer {
	margin-left: 1.6rem;
	margin-bottom: 2rem;
}

#boxer {
	margin-bottom: 4rem;
}



/* <==================== Classes ====================> */

.boxerInfo {
	font-size: 3.5rem;
	color: black;

}

.card {
	height: 45rem;
	margin: 1rem;
	padding: 1rem;
	border: .18rem black solid;
	float: left;
}

.card-img-top {
	max-width: 100%;
	max-height: 100%;
}

.container {
	width: 65rem;
	padding: 1.5rem;

}

.content {
	text-align: left;
	padding-top: 10%;
	margin-bottom: 5rem;
	color: rgba(237, 241, 170, 0.7);
	/* text-shadow: 0px 2px 4px gray, 0px 6px 10px black; */
}

.nav {
	font-size: 1.6rem;
}

.jumbotron {
	text-align: center;
}



/* <==================== HTML Tags ====================> */

body {
	background: url(../images/ali.png);
	background-size: cover;
	height: 100%;
}

h1 {
	font-size: 10rem;
	color: rgba(237, 241, 170, 0.7);
	/* text-shadow: 0px 2px 4px gray, 0px 6px 10px black; */

}

html {
	height: 100%;
}

hr {
	border-top: .2rem solid rgba(237, 241, 170, 0.7);
	margin-left: 0;
	width: 30%;
}

li {
	font-size: 2rem;
}

td {
	padding: .8rem 1rem;
	color: black;
}
